In [8]:
inFp = open("singer1.csv","r",encoding="euc-kr" )

inStr = inFp.readline()
print(inStr,end="")

inStr = inFp.readline()
print(inStr,end="")

inFp.close()

아이디,이름,인원,주소,국번,전화 번호,평균 키,데뷔 일자
TWC,트와이스,9,서울,02,11111111,167,2015.10.19

In [7]:
with open("singer1.csv","r",encoding="euc-kr") as inFp:
    inStr = inFp.readline()
    print(inStr, end= "")
    inStr = inFp.readline()
    print(inStr, end= "")

아이디,이름,인원,주소,국번,전화 번호,평균 키,데뷔 일자
TWC,트와이스,9,서울,02,11111111,167,2015.10.19

In [9]:
def printList(pList):
    for data in pList:
        print(data, end='\t')
    print()

with open("singer1.csv","r",encoding="euc-kr") as inFp:
    header = inFp.readline()
    header = header.strip()
    header_list = header.split(',')
    printList(header_list)
    for inStr in inFp:
        inStr = inStr.strip()
        row_list = inStr.split(',')
        printList(row_list)

아이디	이름	인원	주소	국번	전화 번호	평균 키	데뷔 일자
TWC	트와이스	9	서울	02	11111111	167	2015.10.19
BLK	블랙핑크	4	경남	055	22222222	163	2016.08.08
WMN	여자친구	6	경기	031	33333333	166	2015.01.15
OMY	오마이걸	7	서울			160	2015.04.21
GRL	소녀시대	8	서울	02	44444444	168	2007.08.02
ITZ	있지	5	경남			167	2019.02.12
RED	레드벨벳	4	경북	054	55555555	161	2014.08.01
APN	에이핑크	6	경기	031	77777777	164	2011.02.10
SPC	우주소녀	13	서울	02	88888888	162	2016.02.25
MMU	마마무	4	전남	061	99999999	165	2014.06.19

In [11]:
with open("singer1.csv","r",encoding="euc-kr") as inFp: #singer1 을 읽기 모드로 읽어옴 
    with open("new_singer2.csv", "w") as outFp:  #new singer2를 쓰기 모드로 읽어옴 
        header = inFp.readline()   #헤더는 singer1의 맨 위 한줄을 읽어옴 

        outFp.write(header)    #오픈한 outFp의 헤더를 출력
        for inStr in inFp:     
            inStr = inStr.strip()   #inFp의 데이터의 공백을 제거
            print(inStr)
            row_list = inStr.split(',')  #inFp의 데이터를 , 단위를 나눈것을 row_list에 대입
            print(row_list)
            row_list[-1] = row_list[-1].replace('.','/') #row_list의 마지막 데이터의 .을 /로 교체
            print("row_list[-1]",row_list[-1])
            height_str = "{0:.2f}".format(int(row_list[-2]))  #row_list의 뒤에서 두번째 데이터를 인트형으로 변환 후 소수점 2자리 까지 나타낸 데이터 대입
            row_list[-2] = height_str   #row_list의 뒤에서 두번째 데이터에 위에서 변형한 데이터를 대입
            print("row_list[-2]",row_list[-2])
            row_str = ','.join(map(str, row_list)) # ,(쉼표) 라는 구분자를 데이터 사이에 넣고, 리스트를 문자열로 변환 
            print(row_str)
            outFp.write(row_str + '\n') #row_str을 한줄출력 후 줄바꿈
print('save')

TWC,트와이스,9,서울,02,11111111,167,2015.10.19
['TWC', '트와이스', '9', '서울', '02', '11111111', '167', '2015.10.19']
row_list[-1] 2015/10/19
row_list[-2] 167.00
TWC,트와이스,9,서울,02,11111111,167.00,2015/10/19
BLK,블랙핑크,4,경남,055,22222222,163,2016.08.08
['BLK', '블랙핑크', '4', '경남', '055', '22222222', '163', '2016.08.08']
row_list[-1] 2016/08/08
row_list[-2] 163.00
BLK,블랙핑크,4,경남,055,22222222,163.00,2016/08/08
WMN,여자친구,6,경기,031,33333333,166,2015.01.15
['WMN', '여자친구', '6', '경기', '031', '33333333', '166', '2015.01.15']
row_list[-1] 2015/01/15
row_list[-2] 166.00
WMN,여자친구,6,경기,031,33333333,166.00,2015/01/15
OMY,오마이걸,7,서울,,,160,2015.04.21
['OMY', '오마이걸', '7', '서울', '', '', '160', '2015.04.21']
row_list[-1] 2015/04/21
row_list[-2] 160.00
OMY,오마이걸,7,서울,,,160.00,2015/04/21
GRL,소녀시대,8,서울,02,44444444,168,2007.08.02
['GRL', '소녀시대', '8', '서울', '02', '44444444', '168', '2007.08.02']
row_list[-1] 2007/08/02
row_list[-2] 168.00
GRL,소녀시대,8,서울,02,44444444,168.00,2007/08/02
ITZ,있지,5,경남,,,167,2019.02.12
['ITZ', '있지', '5', '경남', '', '', '167', '2019.02.12']
row_list[-1] 2019/02/12
row_list[-2] 167.00
ITZ,있지,5,경남,,,167.00,2019/02/12
RED,레드벨벳,4,경북,054,55555555,161,2014.08.01
['RED', '레드벨벳', '4', '경북', '054', '55555555', '161', '2014.08.01']
row_list[-1] 2014/08/01
row_list[-2] 161.00
RED,레드벨벳,4,경북,054,55555555,161.00,2014/08/01
APN,에이핑크,6,경기,031,77777777,164,2011.02.10
['APN', '에이핑크', '6', '경기', '031', '77777777', '164', '2011.02.10']
row_list[-1] 2011/02/10
row_list[-2] 164.00
APN,에이핑크,6,경기,031,77777777,164.00,2011/02/10
SPC,우주소녀,13,서울,02,88888888,162,2016.02.25
['SPC', '우주소녀', '13', '서울', '02', '88888888', '162', '2016.02.25']
row_list[-1] 2016/02/25
row_list[-2] 162.00
SPC,우주소녀,13,서울,02,88888888,162.00,2016/02/25
MMU,마마무,4,전남,061,99999999,165,2014.06.19
['MMU', '마마무', '4', '전남', '061', '99999999', '165', '2014.06.19']
row_list[-1] 2014/06/19
row_list[-2] 165.00
MMU,마마무,4,전남,061,99999999,165.00,2014/06/19
save

In [12]:
with open("singer1.csv","r",encoding="euc-kr") as inFp: #singer1 을 읽기 모드로 읽어옴 
    with open("new_singer2.csv", "w") as outFp:  #new singer2를 쓰기 모드로 읽어옴 
        header = inFp.readline() 
        header = header.strip()
        header_list = header.split(',')
        idx1 = header_list.index('아이디')
        print("idx1",idx1)
        idx2 = header_list.index('이름')
        print("idx2",idx2)
        idx3 = header_list.index('평균 키')
        print("idx3",idx3)
        header_list = [header_list[idx1],header_list[idx2],header_list[idx3]]
        header_str =','.join(map(str, header_list))
        outFp.write(header_str + '\n')
        for inStr in inFp:
            inStr = inStr.strip()
            row_list = inStr.split(',')
            if int(row_list[idx3]) >= 165 :
                row_list = [row_list[idx1],row_list[idx2],row_list[idx3]]
                row_str = ','.join(map(str, row_list))
                outFp.write(row_str + '\n')
print('save')

idx1 0
idx2 1
idx3 6
save

In [18]:
#실습
with open("singer1.csv","r",encoding="euc-kr") as inFp: #singer1 을 읽기 모드로 읽어옴 
    with open("new_singer2.csv", "w") as outFp:  #new singer2를 쓰기 모드로 읽어옴 
        header = inFp.readline() 
        header = header.strip()
        header_list = header.split(',')
        idx1 = header_list.index('이름')
        print("idx1",idx1)
        idx2 = header_list.index('국번')
        print("idx2",idx2)
        idx3 = header_list.index('전화 번호')
        print("idx3",idx3)
        header_list = [header_list[idx1],header_list[idx2],header_list[idx3]]
        header_str =','.join(map(str, header_list))
        outFp.write(header_str + '\n')
        for inStr in inFp:
            inStr = inStr.strip()
            row_list = inStr.split(',')
            if row_list[idx3] != "" :
                row_list = [row_list[idx1],row_list[idx2],row_list[idx3]]
                row_str = ','.join(map(str, row_list))
                outFp.write(row_str + '\n')
print('save')

idx1 1
idx2 4
idx3 5
save

In [4]:
with open("singer2.csv","r",encoding="euc-kr") as inFp:
    header = inFp.readline()
    header = header.strip()
    print(header)
    header_list = header.split(',')
    print(header_list[1], header_list[6])
    for inStr in inFp:
        inStr = inStr.strip()
        row_list = inStr.split(',')
        print(row_list)
        youtube = int(row_list[6])
        youtube = int(youtube/10000)
        print(row_list[0], str(youtube) + "만")

아이디,이름,인원,주소,평균 키,데뷔 일자,유튜브 조회수
이름 유튜브 조회수
['TWC', '트와이스', '9', '서울', '167', '2015.10.19', '"3', '334', '500"']

ValueError: invalid literal for int() with base 10: '"3'

In [5]:
import csv

with open("singer2.csv","r",encoding="euc-kr") as inFp:
    csvR = csv.reader(inFp)  #csv 전용 리더기
    header_list = next(csvR) #next == 리스트로 반환함
    print(header_list)
    print(header_list[1],header_list[6])
    for row_list in csvR:
        youtube = int(row_list[6].replace(',',''))
        youtube = int(youtube/10000)
        print(row_list[1],str(youtube)+"만")

['아이디', '이름', '인원', '주소', '평균 키', '데뷔 일자', '유튜브 조회수']
이름 유튜브 조회수
트와이스 333만
블랙핑크 44만
여자친구 0만
오마이걸 0만
소녀시대 111만
있지 2만
레드벨벳 4만
에이핑크 0만
우주소녀 0만
마마무 0만

In [9]:
import csv

with open("singerA.csv","r",encoding="euc-kr") as inFpA:
    with open("singerB.csv","r",encoding="euc-kr") as inFpB:
        with open("singer165.csv","w",encoding="euc-kr",newline='') as outFp:
            csvRA = csv.reader(inFpA)
            csvRB = csv.reader(inFpB)
            csvwriter = csv.writer(outFp)
            header_list = next(csvRA)
            header_list = next(csvRB)
            print(header_list)
            csvwriter.writerow(header_list)

            for row_list in csvRA:
                if int(row_list[6]) >= 165:
                    print(row_list)
                    csvwriter.writerow(row_list)
            for row_list in csvRB:
                if int(row_list[6]) >= 165:    
                    print(row_list)
                    csvwriter.writerow(row_list)
print('save')

['아이디', '이름', '인원', '주소', '국번', '전화 번호', '평균 키', '데뷔 일자']
['ITZ', '있지', '5', '경남', '', '', '167', '2019.02.12']
['MMU', '마마무', '4', '전남', '061', '99999999', '165', '2014.06.19']
['TWC', '트와이스', '9', '서울', '02', '11111111', '167', '2015.10.19']
['WMN', '여자친구', '6', '경기', '031', '33333333', '166', '2015.01.15']
['GRL', '소녀시대', '8', '서울', '02', '44444444', '168', '2007.08.02']
save

In [10]:
from tkinter import *

def makesheet(r,w):
    retlist =[]
    for i in range(0,r):
        tmplist = []
        for k in range(0,w):
            ent = Entry(window, text='',width = 10)
            ent.grid(row=i,column=k)
            tmplist.append(ent)
        retlist.append(tmplist)
    return retlist
#전역변수
csvlist = [['제목1','제목2','제목3'],
           [111,222,333],
           [444,555,666],
           [777,888,999]]
rownum, colnum = 4, 3
worksheet = []
#메인코드
window = Tk()
worksheet = makesheet(rownum,colnum)

#워크시트에 리스트값 채우기
for i in range(0,rownum):
    for k in range(0,colnum):
        worksheet[i][k].insert(0,csvlist[i][k])

window.mainloop()

In [16]:
import csv
max_temp = -999
max_date = ''
f = open('seoul.csv',encoding="euc-kr")
data = csv.reader(f)
header = next(data)
for row in data:
    if row[-1] == '':
        row[-1] = -999
    row[-1] = float(row[-1])
    if max_temp < row[-1]:
        max_date = row[0]
        max_temp = row[-1]
f.close()
print(f'최고기온이 가장 높았던 날 {max_date}로, {max_temp}도 였습니다.' )

최고기온이 가장 높았던 날 1994-07-24로, 38.4도 였습니다.