In [11]:
import sqlite3

con = sqlite3.connect("naverDB")
cur = con.cursor()


while True:
    data1 = input("사용자 ID == > ")
    if data1 == "":
        break
    data2 = input("사용자 이름 ==> ")
    data3 = input("사용자 이메일 ==> ")
    data4 = input("사용자 출생연도 ==> ")
    sql = "INSERT INTO userTable VALUES('" + data1 + "','" + data2 + "','" + data3 + "','" + data4 + "')"
    cur.execute(sql)
    cur.execute("SELECT * FROM userTable")

    print("사용자ID   사용자이름    이메일   출생년도")
    print("=========================================")

    while True:
        row = cur.fetchone()
        if row == None:
            break
        data1 = row[0]
        data2 = row[1]
        data3 = row[2]
        data4 = row[3]
        print("%5s   %15s   %15s  %d" % (data1, data2, data3, data4))


con.commit()
con.close()

In [1]:
import sqlite3

con = sqlite3.connect("naverDB")
cur = con.cursor()


while True:
    d1 = input("사용자 아이디를 입력하세요 : ")
    if d1 == "":
        break
    d2 = input("사용자 이름을 입력하세요 : ")
    d3 = input("사용자 이메일을 입력하세요 : ")
    d4 = input("사용자 생년월일을 입력하세요 : ")
    sql = "INSERT INTO info VALUES('" + d1 + "','" + d2 + "','" + d3 + "','" + d4 + "')"

    cur.execute(sql)
    
    
print("사용자ID   사용자이름    이메일   출생년도")
print("=========================================")
cur.execute("SELECT * FROM info")
while True:
        row = cur.fetchone()
        if row == None:
            break
        d1 = row[0]
        d2 = row[1]
        d3 = row[2]
        d4 = row[3]
        print("%5s   %7s   %10s  %d" % (d1, d2, d3, d4))

con.commit()
con.close()

사용자ID   사용자이름    이메일   출생년도
=========================================
  kim       김태인         asdf  2013
 hong       홍지윤         help  1996
 star       별사랑    ti@ts.com  2001
 yang       양지은   eee@naver.com  2003
  kim       김태인     tain.com  2013
 hong       홍홍홍   hong@email.ocm  1993
 star       별사랑     star.com  2001
 yang       양지윤      eee.com  2003

TypeError: %d format: a number is required, not str